@font-face {
  font-family: "iconfont"; /* Project id 3068320 */
  src: url('iconfont.woff2?t=1640586081132') format('woff2'),
       url('iconfont.woff?t=1640586081132') format('woff'),
       url('iconfont.ttf?t=1640586081132') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_up_fill:before {
  content: "\e817";
}

